#three{
    color: purple;
    font-size: 67px;
    background-color: aqua;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.four{
    color:blueviolet;
    padding-left: 78px;
    margin-bottom: 38px;
    background-color: blue;
}


span{
    color:rgb(9, 127, 131);
    background-color: rgb(88, 11, 54);
}


p{
    color:rgb(228, 160, 15) !important;
}